:root {
    --unhovered: rgb(150, 150, 150);
}

html, body, #react-root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

* {
    object-fit: contain;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 80%);
    border-radius: 10px;
}

#main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header, #footer {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    padding: 1rem;
}

#header .info, #footer .info {
    flex-grow: 1;
}

#header .info .header-title {
    font-size: 3rem;
}

.hover-border {
    transition: border 0.2s;
    border: 2px solid var(--unhovered);
}

.hover-border:hover {
    border: 2px solid white;
}

.hover-text {
    transition: color 0.2s;
    color: var(--unhovered);
}

.hover-text:hover {
    color: white;
}

.instance-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow-y: auto;
}

.instance-icon {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 1rem;
}

.instance-icon .instance-container {
    width: 100%;
    height: 100%;
    background-color: #292929;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.instance-icon .instance-container .instance-name {
    width: 100%;
    height: 100%;
    display: flex;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
}

.add-btn {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;
    background-color: #292929;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.close-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.instance-creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    margin-top: -2rem;
}

.input-group {
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.input-group input, label {
    display: block;
    width: 100%;
    text-align: center;
}

.input-group label {
    font-size: 1.25rem;
}

.input-group input[type="text"] {
    margin-top: 0.5rem;
    height: 2rem;
    background: #292929;
    transition: border 0.2s;
    border: 2px solid var(--unhovered);
    outline: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
}

.input-group input[type="text"]:focus {
    border: 2px solid white;
}

.btn {
    background-color: #292929;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    height: 3rem;
}

.users-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.users-list .user-item {
    background-color: #292929;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.users-list .user-item .user-name {
    flex-grow: 1;
    cursor: pointer;
}

.users-list .user-item .user-buttons .user-delete {
    cursor: pointer;
}

.loading-container {
    opacity: 0;
    pointer-events: none;
    width: 80px;
    height: 80px;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-play-state: paused;
    border-radius: 0.25rem;
}

.loading-container div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loading-container div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loading-container div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes loading {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.loading {
    opacity: 0.2;
}

.loading+.loading-container {
    opacity: 1;
}

.loading+.loading-container div {
    animation-play-state: running;
}