html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

* {
    object-fit: contain;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 80%);
    border-radius: 10px;
}


#title-bar {
    -webkit-app-region: drag;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #292929;
    display: flex;
    flex-direction: row;
}

#title {
    margin-left: 0.25rem;
    padding-top: 0.1rem;
    flex-grow: 1;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
}

#title-bar-btns div {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 0.1rem;
    line-height: 1.5rem;
    text-align: center;
    transition: background-color 0.1s;
}

#title-bar-btns div:hover {
    background-color: #333;
}

#title-bar-btns #close-btn:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

#root {
    display: flex;
    flex-direction: column;
}

#react-root {
    position: relative;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

#main-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #222;
}

#header, #footer {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    padding: 1rem;
}

#header .info, #footer .info {
    flex-grow: 1;
}

#header .info .header-title {
    font-size: 3rem;
}

#header .buttons, #footer .buttons {
    display: flex;
    flex-direction: row;
}

.hover-border {
    transition: all 0.2s;
    border: 2px solid rgb(150, 150, 150);
}

.hover-border:hover:not(.no-hover) {
    border: 2px solid white;
}

.hover-text {
    transition: all 0.2s;
    color: rgb(150, 150, 150);
}

.hover-text:hover:not(.no-hover) {
    color: white;
}

.hover-text-red {
    transition: all 0.2s;
    color: rgb(175, 33, 33);
}

.hover-text-red:hover:not(.no-hover) {
    color: rgb(255, 34, 34);
}

.hover-text-dim {
    transition: all 0.2s;
    color: rgb(150, 150, 150);
}

.hover-text-dim:hover:not(.no-hover) {
    color: rgb(100, 100, 100);
}

.hover-text-blur:hover:not(.no-hover) {
    color: transparent;
    text-shadow: 0 0 2px rgba(100, 100, 100, 0.7);
}

.instance-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: max-content;
    overflow-y: auto;
}

.instance-icon {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 1rem;
}

.instance-icon .instance-container {
    width: 100%;
    height: 100%;
    background-color: #292929;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.instance-icon .instance-container .instance-name {
    width: 100%;
    height: 100%;
    display: flex;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
}

.add-btn {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;
    background-color: #292929;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.close-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 9999;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group.input-group-inline {
    flex-direction: row;
}

.input-group.input-group-inline-tight {
    flex-direction: row;
}

.input-group.input-group-inline .input-label {
    align-self: center;
}

.input-group input, label {
    display: block;
    width: 100%;
}

.input-group.input-group-inline-tight .input-label {
    flex-grow: 0;
    margin-right: 0.5rem;
}

.input-group .input-label {
    flex-grow: 1;
    font-size: 1.25rem;
}

.input-group input[type="text"] {
    margin-top: 0.5rem;
    height: 2rem;
    background: #323232;
    transition: border 0.2s;
    border: 2px solid rgb(150, 150, 150);
    outline: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
}

.input-group input[type="text"]:focus {
    border: 2px solid white;
}

.btn {
    background-color: #292929;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    height: 3rem;
}

.users-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.users-list .user-item {
    background-color: #292929;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.users-list .user-item .user-name {
    flex-grow: 1;
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.users-list .user-item .user-buttons .user-delete {
    cursor: pointer;
}

.loading-container {
    opacity: 0;
    pointer-events: none;
    width: 80px;
    height: 80px;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-play-state: paused;
    border-radius: 0.25rem;
}

.loading-container div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loading-container div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loading-container div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes loading {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.loading .loading-dim {
    opacity: 0.2;
    pointer-events: none;
}

.loading .loading-container {
    opacity: 1;
}

.loading .loading-container div {
    animation-play-state: running;
}

.top-m-l {
    margin-top: 3rem;
}

.play-icon-overlay {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: none;
    color: #04c444;
    text-shadow: 0px 0px 3rem #04c444;
}

.instance-container:hover:not(.no-hover)>.play-icon-overlay {
    opacity: 1;
}

.loading .play-icon-overlay {
    opacity: 0;
}

.context-menu {
    position: fixed;
    text-shadow: none;
    color: white;
    background-color: #333;
    z-index: 999;
    cursor: auto;
    border-radius: 0.25rem;
    border: 2px solid rgb(150, 150, 150);
    transition: opacity 0.2s;
}

.no-hover {
    cursor: auto !important;
}

.context-menu-title {
    font-size: 1.25rem;
    padding: 0.5rem;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.context-menu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 2.5rem;
    cursor: pointer;
}

.context-menu-item-icon {
    font-size: 1.5rem;
    line-height: 1.5rem;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
}

.context-menu-item-desc {
    flex-grow: 1;
    padding: 0.5rem;
    padding-left: 0.25rem;
    line-height: 1.5rem;
    font-size: 1em;
}

.head-skin {
    image-rendering: pixelated;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.login-btn {
    display: flex;
    flex-direction: row;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    min-width: 50%;
    max-width: 100%;
    max-height: 75%;
    border-radius: 0.25rem;
    border: 2px solid rgb(150, 150, 150);
}

.popup-head {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-bottom: 2px solid rgb(150, 150, 150);
    background-color: #333;
    font-size: 1.25rem;
    line-height: 1.25rem;
    position: relative;
}

.popup-desc {
    padding: 0.5rem;
    background-color: #292929;
    font-size: 1rem;
    white-space: pre-wrap;
}

.logs-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 0.75rem;
}

.logs-container * {
    user-select: text !important;
}

.settings-btn {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
}

.settings-container {
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: row;
    border-top: 2px solid rgb(150, 150, 150);
    overflow-y: hidden;
}

.setting-sidebar {
    background-color: #333;
    min-width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    border-right: 2px solid rgb(150, 150, 150);
    overflow-y: auto;
}

.settings-content {
    background-color: #292929;
    flex-grow: 1;
    height: 100%;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
    overflow-y: auto;
}

.setting-sidebar-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.active {
    color: white;
}

.switch {
    --scale: 0.75;
    position: relative;
    display: inline-block;
    width: calc(60px * var(--scale));
    height: calc(34px * var(--scale));
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(26px * var(--scale));
    width: calc(26px * var(--scale));
    left: calc(4px * var(--scale));
    bottom: calc(4px * var(--scale));
    background-color: white;
    transition: .4s;
}

input+.slider {
    background-color: #888;
}

input:checked+.slider {
    background-color: #444;
}

input:focus+.slider {
    box-shadow: 0 0 1px #444;
}

input:checked+.slider:before {
    transform: translateX(calc(26px * var(--scale)));
}

.slider.round {
    border-radius: calc(34px * var(--scale));
}

.slider.round:before {
    border-radius: 50%;
}

.range-slider {
    --primary-color: #444;
    --value-offset-y: var(--ticks-gap);
    --value-active-color: white;
    --value-background: transparent;
    --value-background-hover: var(--primary-color);
    --value-font: 700 12px/1 Arial;
    --fill-color: var(--primary-color);
    --progress-background: #eee;
    --progress-radius: 20px;
    --track-height: calc(var(--thumb-size) / 2);
    --min-max-font: 12px Arial;
    --min-max-opacity: 0.5;
    --min-max-x-offset: 10%;
    --thumb-size: 22px;
    --thumb-color: #eee;
    --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 0 99px var(--thumb-color) inset;
    --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset var(--thumb-color), 0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
    --thumb-shadow-hover: var(--thumb-shadow);
    --ticks-thickness: 1px;
    --ticks-height: 5px;
    --ticks-gap: var(--ticks-height, 0);
    --ticks-color: #eee;
    --step: 1;
    --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
    --maxTicksAllowed: 0;
    --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
    --x-step: Max(var(--step), var(--too-many-ticks) * (var(--max) - var(--min)));
    --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
    --tickIntervalPerc: calc((100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) * var(--tickEvery, 1));
    --value-a: Clamp(var(--min),
            var(--value, 0),
            var(--max));
    --value-b: var(--value, 0);
    --text-value-a: var(--text-value, "");
    --completed-a: calc((var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100);
    --completed-b: calc((var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100);
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
    --thumbs-too-close: Clamp(-1,
            1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
            1);
    --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
    --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
    display: inline-block;
    height: max(var(--track-height), var(--thumb-size));
    background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
    background-size: var(--tickIntervalPerc) var(--ticks-height);
    background-position-x: calc(var(--thumb-size) / 2 - var(--ticks-thickness) / 2);
    background-position-y: var(--flip-y, bottom);
    padding-bottom: var(--flip-y, var(--ticks-gap));
    padding-top: calc(var(--flip-y) * var(--ticks-gap));
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 1.125rem;
}

.range-slider[data-ticks-position=top] {
    --flip-y: 1;
}

.range-slider::before, .range-slider::after {
    --offset: calc(var(--thumb-size) / 2);
    content: counter(x);
    display: var(--show-min-max, block);
    font: var(--min-max-font);
    position: absolute;
    bottom: var(--flip-y, -2.5ch);
    top: calc(-2.5ch * var(--flip-y));
    opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
    transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
    pointer-events: none;
}

.range-slider::before {
    --before: 1;
    counter-reset: x var(--min);
    left: var(--offset);
}

.range-slider::after {
    counter-reset: x var(--max);
    right: var(--offset);
}

.range-slider__progress {
    --start-end: calc(var(--thumb-size) / 2);
    --clip-end: calc(100% - (var(--cb)) * 1%);
    --clip-start: calc(var(--ca) * 1%);
    --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
    position: absolute;
    left: var(--start-end);
    right: var(--start-end);
    top: calc(var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2);
    height: calc(var(--track-height));
    background: var(--progress-background, #eee);
    pointer-events: none;
    z-index: -1;
    border-radius: var(--progress-radius);
}

.range-slider__progress::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    clip-path: var(--clip);
    top: 0;
    bottom: 0;
    background: var(--fill-color, black);
    box-shadow: var(--progress-flll-shadow);
    z-index: 1;
    border-radius: inherit;
    margin-left: -1px;
}

.range-slider__progress::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--progress-shadow);
    pointer-events: none;
    border-radius: inherit;
}

.range-slider>input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: var(--thumb-size);
    margin: 0;
    position: absolute;
    left: 0;
    top: calc(50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)));
    cursor: -webkit-grab;
    cursor: grab;
    outline: none;
    background: none;
}

.range-slider>input:not(:only-of-type) {
    pointer-events: none;
}

.range-slider>input::-webkit-slider-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    margin-top: 4px;
    border: none;
    pointer-events: auto;
    transition: 0.1s;
}

.range-slider>input::-moz-range-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    transition: 0.1s;
}

.range-slider>input::-ms-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    transition: 0.1s;
}

.range-slider>input:hover {
    --thumb-shadow: var(--thumb-shadow-hover);
}

.range-slider>input:hover+output {
    --value-background: var(--value-background-hover);
    --y-offset: -5px;
    color: var(--value-active-color);
    box-shadow: 0 0 0 3px var(--value-background);
}

.range-slider>input:active {
    --thumb-shadow: var(--thumb-shadow-active);
    cursor: grabbing;
    z-index: 2;
}

.range-slider>input:active+output {
    transition: 0s;
}

.range-slider>input:nth-of-type(1) {
    --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999, 1);
}

.range-slider>input:nth-of-type(1)+output {
    --value: var(--value-a);
    --x-offset: calc(var(--completed-a) * -1%);
}

.range-slider>input:nth-of-type(1)+output:not(:only-of-type) {
    --flip: calc(var(--thumbs-too-close) * -1);
}

.range-slider:hover>input:nth-of-type(1)+output::after {
    content: var(--prefix, "") var(--text-value-a) var(--suffix, "");

}

.range-slider>input:nth-of-type(2) {
    --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
}

.range-slider>input:nth-of-type(2)+output {
    --value: var(--value-b);
}

.range-slider>input:only-of-type~.range-slider__progress {
    --clip-start: 0;
}

.range-slider>input+output {
    --flip: -1;
    --x-offset: calc(var(--completed-b) * -1%);
    --pos: calc(((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%);
    pointer-events: none;
    position: absolute;
    z-index: 5;
    background: var(--value-background);
    border-radius: 10px;
    padding: 2px 4px;
    left: var(--pos);
    transform: translate(var(--x-offset), calc(150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
    transition: all 0.12s ease-out, left 0s;
}

.range-slider>input+output::after {
    content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
    font: var(--value-font);
}

.fade-enter {
    z-index: -999;
}

.fade-exit {
    z-index: 999;
    opacity: 1;
    transition: opacity 200ms ease-out;
}

.fade-exit.fade-exit-active {
    opacity: 0;
}

.instance-creator {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #222;
}

.instance-creator>div {
    width: 50%;
    height: 100%;
    padding: 2.5rem 1rem;
    display: flex;
    align-items: center;
    align-self: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.instance-creator input[type=radio] {
    display: none;
}

.instance-creator .block-radio-container .block-radio>div {
    height: 100%;
    background-color: #292929;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.instance-creator .block-radio-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    grid-auto-rows: max-content;
    gap: 16px;
    overflow-y: auto;
    padding: 1rem;
}

.instance-creator .block-radio-container .block-radio input:checked+div {
    border: 2px solid white;
    color: white;
}

.instance-creator .block-radio-container .block-radio>div .label {
    font-size: 1.5rem;
}

.instance-creator .block-radio-container .block-radio>div .icon {
    font-size: 4rem;
}

.back-btn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 9999;
}

.no-bg {
    background-color: transparent !important;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modpacks-container-list, .modpack-details-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
}

.modpack-list {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

.modpack-listing {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #333;
    position: relative;
}

.modpack-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0.5rem;
    flex-grow: 1;
}

.modpack-title {
    font-size: 1.5rem;
}

.modpack-summary {
    font-size: 0.75rem;
    word-break: break-word;
}

.modpack-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    margin-left: 0.5rem;
}

.modpack-actions .btn {
    font-size: 1rem;
    white-space: nowrap;
}

.modpacks-container-list .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    background-color: #292929;
    border-radius: 0.25rem;
}

.search .icon {
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.search input[type="text"] {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.25rem;
    outline-width: 0;
}

.modpacks-container-list .actions .search {
    width: 50%;
    min-width: 400px;
    max-width: max-content;
}

.modpack-icon img {
    width: 64px;
    height: 64px;
    border-radius: 0.25rem;
}

.modpack-listing.loading {
    height: 5rem;
}

select {
    background-color: #292929;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 1rem;
    outline-width: 0;
    border: 2px solid rgb(150, 150, 150);
    transition: all 0.2s;
}

select:hover, select:focus {
    border: 2px solid white;
}

.step select {
    width: 75%;
    font-size: 1.25rem;
}

.modpack-iframe {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0.5rem;
    flex-grow: 1;
}

.modpack-iframe * {
    max-width: 100%;
}

.modpack-details-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.modpack-details-container .actions {
    width: 100%;
    background-color: #333;
    padding: 0.5rem;
    border-top: 2px solid rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
}

.modpack-details-container .actions select {
    flex-grow: 1;
}

.modpack-details-container .actions .btn {
    margin-left: 0.5rem;
}

.mods-container {
    width: 100%;
    height: 100%;
}

.mods-container .actions {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
    width: 100%;
    height: 3rem;
}

.mods-container .actions .search {
    flex-grow: 1;
    margin-right: 0.5rem;
}

.mods-list {
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 3rem);
}

.mods-list .mod {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #333;
    position: relative;
}

.mods-list .mod .input-label {
    font-size: 1rem;
}

.loading-screen-container {
    positioN: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #111;
}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #222;
    left: 0;
    transition: transform 1s ease-in;
}

.wave-up {
    animation: waveup 1.5s cubic-bezier(.3, 0, .31, .83) 1;
    animation-fill-mode: forwards;
}

.ocean-bottom {
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: -100vh;
    background-color: #222;
    left: 0;
}

.wave {
    background: url('../svg/wave.svg') repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 4s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes waveup {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(10vh);
    }

    100% {
        transform: translateY(-100vh);
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.loading-screen-container .title {
    margin-top: 8%;
    font-size: 4rem;
    transition: opacity 0.5s linear;
}

.java-settings {
    width: 100%;
    position: relative;
}

.java-settings.loading .input-group {
    opacity: 0.2;
    pointer-events: none;
}